.mat-card {
  margin: 5px auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    .mat-checkbox {
      margin-right: 20px;
    }
    .title {
      display: flex;
      align-items: flex-end;

      margin-bottom: 5px;
      h4 {
        margin-right: 15px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
